{% extends 'base.html' %}
{% block content %}



<div class="container">
  <h1>Distillery Inventory Detailed</h1>
  <h5><a href="{% url 'inventory_summary_view' %}">Back</a></h5>

<table  class="table table-bordered" >
    <caption>Cases</caption>
  <tr>
    <th>Case No. </th>
    <th>Date Entered</th>
    <th>Name</th>
    <th>Product</th>
    <th>Bottle Size</th>
    <th>Bottles per Case</th>
    <th>Proof</th>
    <th>Liters</th>
    <th>Wine Gallons</th>
    <th>Proof Gallons</th>
    <th>Date Removed</th>

  </tr>

  {% for item in object_list %}
  <tr>
    <td>{{item.case_number}}</td>
    <td>{{item.date_assigned}}</td>
    <td>{{item.name}}</td>
    <td>{{item.product}}</td>
    <td>{{item.name.bottle_size}}</td>
    <td>{{item.bottles_per_case}}</td>
    <td>{{item.proof}}</td>
    <td>{{item.liters}}</td>
    <td>{{item.wine_gallons}}</td>
    <td>{{item.proof_gallons}}</td>
    <td>{{item.date_removed}}</td>


  </tr>






  {% endfor %}

  <table  class="table table-bordered" >
      <caption>Strays</caption>
    <tr>
      <th>Product</th>
      <th>Proof</th>
        <th>Date Entered</th>
    </tr>

    {% for stray in strays %}
    <tr>
      <td>{{stray.name}}</td>
        <td>{{stray.proof}}</td>
        <td>{{stray.date_assigned}}</td>

    </tr>

    </tr>
    {% endfor %}



</div>


{% endblock %}
