{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Locations of Sale</h1>
  <h4><a href="{% url 'location_create_view' %}">Add Location</a></h4>

<table  class="table table-bordered" >
    <caption>Entered Locations</caption>
  <tr>
    <th>Location Name</th>
    <th>Address</th>
  </tr>

  {% for item in object_list %}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.address}}</td>
    <td><a href="{% url 'location_update_view' item.id %}">Update</a></td>
    <td><a href="{% url 'location_delete_view' item.id %}">Delete</a></td>
  </tr>
{% endfor %}

{% endblock %}
