{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style media="screen">
     body {
       background-color: white;
     }
   </style>
  </head>

<body>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="{% url 'inventory_list_view' %}">Inventory</a></li>
  <li role="presentation" class="active"><a href="{% url 'inventory_form_view' %}">Add to Inventory</a></li>
  <li role="presentation"><a href="{% url 'inventory_removal_view' %}">Remove from Inventory</a></li>
  <li role="presentation"><a href="{% url 'product_list_view' %}">View Skews </a></li>
</ul>




  {% block content %}
  {% endblock %}
</body>
