{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
   <style media="screen">
     body {
       background-color: white;
     }
   </style>

  </head>

<body>

  <ul class="nav nav-tabs">
{% if not request.user.is_authenticated %}
       <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
       <li role="presentation"><a href="{% url 'user_create_view' %}">Create User Account</a></li>
{% else %}
  <li role="presentation"><a href="{% url 'logout' %}?next={% url 'inventory_summary_view' %}">Logout</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Inventory <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" ><a href="{% url 'inventory_summary_view' %}">Inventory Summary</a></li>
        <li role="presentation"><a href="{% url 'inventory_form_view' %}">Add Cases</a></li>
        <li role="presentation"><a href="{% url 'stray_create_view' %}">Add Strays</a></li>
          <li role="presentation"><a href="{% url 'inventory_removal_view' %}">Remove Case</a></li>
          <li role="presentation"><a href="{% url 'stray_removal_view' %}">Remove Stray</a></li>

    </ul>
  </li>


  <li role="presentation"><a href="{% url 'product_list_view' %}">View Products </a></li>
  <li role="presentation"><a href="{% url 'destination_list_view' %}">View Destinations </a></li>

{% endif %}
  </ul>


    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
      {% endfor %}
    {% endif %}

    {% if form.errors %}
      <div class="alert alert-error">
        <h4>Please fix the following errors</h4>
        <ul>
          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
      </div>
    {% endif %}


  {% block content %}
  {% endblock %}
</body>
