{% extends 'base.html'%}
{% block content%}
<div class="container">


<h1>Update Inventory Items</h1>



<h5><a href="{% url 'inventory_list_view' %}">Back</a></h5>
<form action="" method="post">
    {% csrf_token %}



      <div class="fieldWrapper">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
      </div>


      <div class="fieldWrapper">
      {{ form.date_assigned.errors }}
      {{ form.date_assigned.label_tag }}
      {{ form.date_assigned }}
      </div>

      <div class="fieldWrapper">
      {{ form.proof.errors }}
      {{ form.proof.label_tag }}
      {{ form.proof }}
      </div>

      <div class="fieldWrapper">
      {{ form.destination.errors }}
      {{ form.destination.label_tag }}
      {{ form.destination }}
      </div>

      <div class="fieldWrapper">
      {{ form.date_removed.errors }}
      {{ form.date_removed.label_tag }}
      {{ form.date_removed }}
      </div>


    <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
